[submodule "vendor/tumble.git"]
	path = vendor/tumble.git
	url = https://github.com/febuiles/tumble.git
[submodule "vendor/twittering-mode.git"]
	path = vendor/twittering-mode.git
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "vendor/Emacs-Sunburst-Color-Theme.git"]
	path = vendor/Emacs-Sunburst-Color-Theme.git
	url = https://github.com/leoncamel/Emacs-Sunburst-Color-Theme.git
[submodule "el-get/el-get"]
	path = el-get/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "vendor/color-theme-wombat-dark.git"]
	path = vendor/color-theme-wombat-dark.git
	url = https://leoncamel@github.com/leoncamel/color-theme-wombat-dark.git
[submodule "vendor/slime.git"]
	path = vendor/slime.git
	url = https://github.com/nablaone/slime.git
