[submodule "vendor/tumble.git"]
	path = vendor/tumble.git
	url = https://github.com/febuiles/tumble.git
[submodule "vendor/twittering-mode.git"]
	path = vendor/twittering-mode.git
	url = https://github.com/hayamiz/twittering-mode.git
